.navbar{
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #000;
    height: 5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.navbar h1{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.navbar__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* navbar expand button */
.navbar_expand {
    display: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    margin : 0 1rem;
    background-color: transparent;
}

.navbar__links__ul{
    display: flex;
    list-style: none;
}

.navbar__links__li{
    margin: 0 1rem;
    font-size: 1.2rem;
}

.navbar__links__li a{
    text-decoration: none;
    color : #fff;
}

.navbar__links__li a:hover{
    color: #f50057;
}

.svg{
    width: 2rem;
    height: 2rem;
    fill: #fff;
}

@media screen and (max-width: 768px){
    .navbar{
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }
    .navbar__container{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
    }
    .navbar_expand{
        display: block;
    }
    .navbar__container h1{
        margin: 0 1rem;
    }
    .navbar__links__ul{
        flex-direction: column;
        align-items: center;
    }
    .navbar__links__li{
        margin: 1rem 0;
        background-color: #000;
        width : 100vw;
        text-align: center;
        padding-top: 1.6rem;
        border-top: 1px solid #fff;
    }
}

    